<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.msrit.pretick">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activity.MainActivity" />
        <activity android:name=".presentation.activity.SignUpActivity" />
        <activity android:name=".presentation.activity.SearchTicketActivity" />
        <activity android:name=".presentation.activity.PendingTicketListActivity" />
        <activity android:name=".presentation.activity.FacultyDashboardActivity" />
        <activity android:name=".presentation.activity.RaiseTicketActivity" />
        <activity android:name=".presentation.activity.GuestDashboardActivity" />
        <activity android:name=".presentation.activity.TicketStatusListActivity"></activity>
    </application>

</manifest>